* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  padding-left: 20px;
}

.header {
  flex: 1;
}

img {
  /* unused but necessary for inner images */
  max-width: 100%;
  max-height: 100vh;
}

@media (min-width: 375px) {
  .flex_container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background: #fff;
    justify-content: center;
    align-items: center;
  }

  .backimage {
    background-image: url(img/Group35.png);
  }

  .ItemNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 255px;
    height: 40px;
    left: 591px;
    top: 16px;
  }

  .frame4 {
    /* Frame 4 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 87px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame3 {
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 69px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .about {
    /* About */

    width: 45px;
    height: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Neutrals/N600 */

    color: #344563;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Portoflio {
    width: 63px;
    height: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutrals/N600 */
    color: #344563;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Contact {
    /* Contact */

    width: 59px;
    height: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Neutrals/N600 */

    color: #344563;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .topmenu {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0;
    top: 0;
  }

  .headlinclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
    gap: 24px;
    position: absolute;
    width: 920px;
    height: 756px;
    left: 260px;
    top: 72px;
  }

  .contenthead1 {
    width: 920px;
    height: 114px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .supportsection {
    width: 920px;
    height: 96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    /* or 160% */

    text-align: center;

    /* Neutrals/N800 */

    color: #172b4d;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .normalbuttontd {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .github {
    /* Icons/Icon -GitHub */

    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .gitframe {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 8.33%;
    bottom: 8.33%;
  }

  .gitframe2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }

  .gitgroup {
    position: absolute;
    left: 0.08%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }

  #gitimg {
    position: absolute;
    left: 0.08%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Neutrals/N400 */
    background: #505f79;
  }

  .normalbuttontd1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .headerillustraion {
    position: absolute;
    width: 1472.8px;
    height: 1407.45px;
    left: 27px;
    top: -390.55px;
  }

  .frameheader {
    position: absolute;
    width: 232.22px;
    height: 185.08px;
    left: 892px;
    top: 738.84px;
    transform: rotate(-30deg);
  }

  #vectorheader1 {
    position: absolute;
    left: 43.96%;
    right: 51.14%;
    top: 115.27%;
    bottom: -26.55%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader2 {
    position: absolute;
    left: 42.17%;
    right: 47.45%;
    top: 117.36%;
    bottom: -43.15%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader3 {
    position: absolute;
    left: 32.48%;
    right: 57.67%;
    top: 116.1%;
    bottom: -22.54%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader4 {
    position: absolute;
    left: 77.02%;
    right: 7.02%;
    top: 19.92%;
    bottom: 35.59%;
    background: #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader5 {
    position: absolute;
    left: 22.96%;
    right: 61.28%;
    top: 103.34%;
    bottom: -26.8%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader6 {
    position: absolute;
    left: 39.61%;
    right: 46.06%;
    top: 109.72%;
    bottom: -26.35%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader7 {
    position: absolute;
    left: 25.17%;
    right: 56.61%;
    top: 78.32%;
    bottom: -15.63%;
    background: #172b4d;
    transform: rotate(-30deg);
  }

  #vectorheader8 {
    position: absolute;
    left: 34.83%;
    right: 41.94%;
    top: 54.54%;
    bottom: -33.72%;
    background: #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader9 {
    position: absolute;
    left: 53.07%;
    right: 26.43%;
    top: 24.81%;
    bottom: 2.76%;
    background: #172b4d;
    transform: rotate(-30deg);
  }

  #vectorheader10 {
    position: absolute;
    left: 20.14%;
    right: 49.5%;
    top: 105.38%;
    bottom: -55.25%;
    background: #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader11 {
    position: absolute;
    left: 0.44%;
    right: 0.22%;
    top: 62.87%;
    bottom: -62.05%;
    background: #c5e9da;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  .frameleft {
    position: absolute;
    left: 140.57%;
    right: -139.85%;
    top: 88.87%;
    bottom: -88.51%;
    transform: rotate(152.88deg);
  }

  .barstatuslight {
    position: absolute;
    width: 375px;
    height: 44px;
    left: calc(50% - 375px / 2);
    top: 0;
  }

  .timeblock {
    position: absolute;
    width: 54px;
    height: 21px;
    left: 21px;
    top: 13px;
  }

  .Group3 {
    position: absolute;
    width: 66.66px;
    height: 11.34px;
    left: 293.67px;
    top: 17.33px;
  }

  .compactbar {
    position: absolute;
    width: 375px;
    height: 92px;
    left: 0;
    top: 0;
  }

  .toobardark {
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    bottom: 0;
  }

  .normalbutton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
  }

  .icons {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .unions {
    position: absolute;
    width: 18px;
    height: 12px;
    left: 3px;
    top: 6px;
    background: #28352f;
  }

  .vector1 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 70.83%;
    bottom: 29.17%;
    border: 2px solid #acb7c3;
  }

  .vector2 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 50%;
    bottom: 50%;
    border: 2px solid #acb7c3;
  }

  .vector3 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 29.17%;
    bottom: 70.83%;
    border: 2px solid #acb7c3;
  }

  .logoplaceholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 24px;
    height: 48px;
    left: 12px;
    top: calc(50% - 48px / 2);
  }

  .primaryinmain {
    position: absolute;
    width: 327px;
    height: 211px;
    left: 27px;
    top: 156px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 42px;
    text-align: center;
    color: #172b4d;
  }

  .Supportingtext {
    position: absolute;
    width: 327px;
    height: 164px;
    left: 27px;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    background: #e5e5e5;
  }

  .socialmedia {
    position: absolute;
    width: 170.17px;
    height: 19.62px;
    left: 105px;
    top: 568.89px;
    background: #e5e5e5;
  }

  .twitter {
    position: absolute;
    left: 27.56%;
    right: 67.2%;
    top: 8.96%;
    bottom: 90.73%;
    background: #505f79;
  }

  .githubx {
    position: absolute;
    left: 58.79%;
    right: 36.49%;
    top: 8.96%;
    bottom: 90.73%;
    background: #505f79;
  }

  .angellist {
    position: absolute;
    left: 68.5%;
    right: 27.78%;
    top: 8.96%;
    bottom: 90.73%;
    background: #505f79;
  }

  .medium {
    position: absolute;
    left: 48.29%;
    right: 46.46%;
    top: 8.99%;
    bottom: 90.76%;
    background: #505f79;
  }

  .vectorin {
    position: absolute;
    left: 39.71%;
    right: 56.96%;
    top: 9%;
    bottom: 90.73%;
    background: #505f79;
  }

  .vectori {
    position: absolute;
    left: 37.8%;
    right: 60.9%;
    top: 9.05%;
    bottom: 90.73%;
    background: #505f79;
  }

  .goup37 {
    position: absolute;
    width: 73.7px;
    height: 79.49px;
    left: 53.29px;
    top: 632.01px;
    opacity: 0.88;
    transform: rotate(168.14deg);
  }

  .frame {
    position: absolute;
    width: 58.25px;
    height: 66.5px;
    left: 50.13px;
    top: 617px;
    transform: rotate(152.88deg);
  }

  .group {
    position: absolute;
    left: 140.57%;
    right: -139.85%;
    top: 88.87%;
    bottom: -88.51%;
    transform: rotate(152.88deg);
  }

  .vector1st {
    position: absolute;
    left: 69.52%;
    right: -16.5%;
    top: 65.1%;
    bottom: -15.2%;
    background: #172b4d;
    transform: rotate(152.88deg);
  }

  .groupbelowmenu {
    position: absolute;
    left: 82.05%;
    right: -81.36%;
    top: 166.4%;
    bottom: -165.37%;
    transform: rotate(-145.24deg);
  }
}

@media (min-width: 768px) {
  .flex_container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background: #fff;
    border-color: green;
    border-style: dotted;
    justify-content: center;
    align-items: center;
  }

  .backimage {
    background-image: url(img/Group35.png);
  }

  .ItemNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 255px;
    height: 40px;
    left: 591px;
    top: 16px;
  }

  .frame4 {
    /* Frame 4 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 87px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame3 {
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 69px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .about {
    /* About */

    width: 45px;
    height: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Neutrals/N600 */

    color: #344563;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Portoflio {
    width: 63px;
    height: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutrals/N600 */
    color: #344563;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Contact {
    /* Contact */

    width: 59px;
    height: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Neutrals/N600 */

    color: #344563;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .topmenu {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0;
    top: 0;
  }

  .headlinclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
    gap: 24px;
    position: absolute;
    width: 920px;
    height: 756px;
    left: 260px;
    top: 72px;
  }

  .contenthead1 {
    width: 920px;
    height: 114px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .supportsection {
    width: 920px;
    height: 96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    /* or 160% */

    text-align: center;

    /* Neutrals/N800 */

    color: #172b4d;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .normalbuttontd {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .github {
    /* Icons/Icon -GitHub */

    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .gitframe {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 8.33%;
    bottom: 8.33%;
  }

  .gitframe2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }

  .gitgroup {
    position: absolute;
    left: 0.08%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }

  #gitimg {
    position: absolute;
    left: 0.08%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Neutrals/N400 */
    background: #505f79;
  }

  .normalbuttontd1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .headerillustraion {
    position: absolute;
    width: 1472.8px;
    height: 1407.45px;
    left: 27px;
    top: -390.55px;
  }

  .frameheader {
    position: absolute;
    width: 232.22px;
    height: 185.08px;
    left: 892px;
    top: 738.84px;
    transform: rotate(-30deg);
  }

  #vectorheader1 {
    position: absolute;
    left: 43.96%;
    right: 51.14%;
    top: 115.27%;
    bottom: -26.55%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader2 {
    position: absolute;
    left: 42.17%;
    right: 47.45%;
    top: 117.36%;
    bottom: -43.15%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader3 {
    position: absolute;
    left: 32.48%;
    right: 57.67%;
    top: 116.1%;
    bottom: -22.54%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader4 {
    position: absolute;
    left: 77.02%;
    right: 7.02%;
    top: 19.92%;
    bottom: 35.59%;
    background: #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader5 {
    position: absolute;
    left: 22.96%;
    right: 61.28%;
    top: 103.34%;
    bottom: -26.8%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader6 {
    position: absolute;
    left: 39.61%;
    right: 46.06%;
    top: 109.72%;
    bottom: -26.35%;
    background: #fff;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader7 {
    position: absolute;
    left: 25.17%;
    right: 56.61%;
    top: 78.32%;
    bottom: -15.63%;
    background: #172b4d;
    transform: rotate(-30deg);
  }

  #vectorheader8 {
    position: absolute;
    left: 34.83%;
    right: 41.94%;
    top: 54.54%;
    bottom: -33.72%;
    background: #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader9 {
    position: absolute;
    left: 53.07%;
    right: 26.43%;
    top: 24.81%;
    bottom: 2.76%;
    background: #172b4d;
    transform: rotate(-30deg);
  }

  #vectorheader10 {
    position: absolute;
    left: 20.14%;
    right: 49.5%;
    top: 105.38%;
    bottom: -55.25%;
    background: #36b37e;
    transform: rotate(-30deg);
  }

  #vectorheader11 {
    position: absolute;
    left: 0.44%;
    right: 0.22%;
    top: 62.87%;
    bottom: -62.05%;
    background: #c5e9da;
    border: 1.38636px solid #36b37e;
    transform: rotate(-30deg);
  }

  .frameleft {
    position: absolute;
    left: 140.57%;
    right: -139.85%;
    top: 88.87%;
    bottom: -88.51%;
    transform: rotate(152.88deg);
  }

  .barstatuslight {
    position: absolute;
    width: 375px;
    height: 44px;
    left: calc(50% - 375px / 2);
    top: 0;
  }

  .timeblock {
    position: absolute;
    width: 54px;
    height: 21px;
    left: 21px;
    top: 13px;
  }

  .Group3 {
    position: absolute;
    width: 66.66px;
    height: 11.34px;
    left: 293.67px;
    top: 17.33px;
  }

  .compactbar {
    position: absolute;
    width: 375px;
    height: 92px;
    left: 0;
    top: 0;
  }

  .toobardark {
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    bottom: 0;
  }

  .normalbutton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
  }

  .icons {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .unions {
    position: absolute;
    width: 18px;
    height: 12px;
    left: 3px;
    top: 6px;
    background: #28352f;
  }

  .vector1 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 70.83%;
    bottom: 29.17%;
    border: 2px solid #acb7c3;
  }

  .vector2 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 50%;
    bottom: 50%;
    border: 2px solid #acb7c3;
  }

  .vector3 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 29.17%;
    bottom: 70.83%;
    border: 2px solid #acb7c3;
  }

  .logoplaceholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 24px;
    height: 48px;
    left: 12px;
    top: calc(50% - 48px / 2);
  }

  .primaryinmain {
    position: absolute;
    width: 327px;
    height: 211px;
    left: 27px;
    top: 156px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 42px;
    text-align: center;
    color: #172b4d;
  }

  .Supportingtext {
    position: absolute;
    width: 327px;
    height: 164px;
    left: 27px;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    background: #e5e5e5;
  }

  .socialmedia {
    position: absolute;
    width: 170.17px;
    height: 19.62px;
    left: 105px;
    top: 568.89px;
    background: #e5e5e5;
  }

  .twitter {
    position: absolute;
    left: 27.56%;
    right: 67.2%;
    top: 8.96%;
    bottom: 90.73%;
    background: #505f79;
  }

  .githubx {
    position: absolute;
    left: 58.79%;
    right: 36.49%;
    top: 8.96%;
    bottom: 90.73%;
    background: #505f79;
  }

  .angellist {
    position: absolute;
    left: 68.5%;
    right: 27.78%;
    top: 8.96%;
    bottom: 90.73%;
    background: #505f79;
  }

  .medium {
    position: absolute;
    left: 48.29%;
    right: 46.46%;
    top: 8.99%;
    bottom: 90.76%;
    background: #505f79;
  }

  .vectorin {
    position: absolute;
    left: 39.71%;
    right: 56.96%;
    top: 9%;
    bottom: 90.73%;
    background: #505f79;
  }

  .vectori {
    position: absolute;
    left: 37.8%;
    right: 60.9%;
    top: 9.05%;
    bottom: 90.73%;
    background: #505f79;
  }

  .goup37 {
    position: absolute;
    width: 73.7px;
    height: 79.49px;
    left: 53.29px;
    top: 632.01px;
    opacity: 0.88;
    transform: rotate(168.14deg);
  }

  .frame {
    position: absolute;
    width: 58.25px;
    height: 66.5px;
    left: 50.13px;
    top: 617px;
    transform: rotate(152.88deg);
  }

  .group {
    position: absolute;
    left: 140.57%;
    right: -139.85%;
    top: 88.87%;
    bottom: -88.51%;
    transform: rotate(152.88deg);
  }

  .vector1st {
    position: absolute;
    left: 69.52%;
    right: -16.5%;
    top: 65.1%;
    bottom: -15.2%;
    background: #172b4d;
    transform: rotate(152.88deg);
  }

  .groupbelowmenu {
    position: absolute;
    left: 82.05%;
    right: -81.36%;
    top: 166.4%;
    bottom: -165.37%;
    transform: rotate(-145.24deg);
  }
}
